[Unit]
Description=Observe Basecamp inventory daily

[Timer]
OnCalendar=*-*-* 09:00:00
RandomizedDelaySec=600
Persistent=true

[Install]
WantedBy=timers.target
